<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="mostrar('portada')" class="inicio" display="none">
            <h1>Listado de pelicula</h1>
            <button @click="getJson()">Seccion Video Juegos</button>
        </div>

            <div class="lista" id="item-lista">
                <div v-for="(juego, index) in juegos" :key="index">
                    <li><img :src="juego.imagen"></li>
                    <li>{{juego.nombre}}</li>
                    <p>{{juego.plataforma}}</p>
                    <button @click="insertar(index)">+</button>
                </div>               
            </div>
            <button @click="cambiar('carrito')">carrito</button>
            <div v-if="mostrar('carrito')" >
                <div v-for="actual in juegoActual">
                    {{juegos[actual.id]}} -- {{actual.cantidad}} -- {{juegos[actual.id].precio * actual.cantidad}}€
                </div>
            </div>
        
    </div>
    <script type="module" src="index.js"> </script>
</body>

</html>