<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="mostrar('portada')" class="inicio" display="none">
            <h1>Listado de pelicula</h1>
            <button @click="getJson()">Seccion Video Juegos</button>
        </div>

        <div class="lista" id="item-lista">
            <div v-for="(juego, index) in juegos" :key="index">
                <li><img :src="juego.imagen"></li>
                <li>{{juego.nombre}}</li>
                <p>{{juego.plataforma}}</p>
                <button @click="insertar(index)">+</button>
                <button @click="quitar(index)">-</button>
            </div>

            <div>
                <h2>Carrito</h2>
                    <li v-for="actual in juegoActual">
                        {{juegos[actual.id].nombre}} - {{actual.cantidad}} -
                        {{juegos[actual.id].precio * actual.cantidad}}€
                    </li>
                    <span>Total: {{calcularTotal()}}</span><br>
                    <button @click="cambiar('portada')">Tienda</button>
                    <button @click="cambiar('carrito')">Carrito</button>
            </div>
        </div>
        

        <div v-if="mostrar('carrito')">
            <h2>Carrito</h2>
                <li v-for="actual in juegoActual">
                    {{juegos[actual.id].nombre}} - {{actual.cantidad}} -
                    {{juegos[actual.id].precio * actual.cantidad}}€
                </li>
                <span>Total: {{calcularTotal()}}</span><br>
                <button @click="cambiar('portada')">Tienda</button>
        </div>
    </div>
    <script type="module" src="index.js"> </script>
</body>

</html>